* {
  box-sizing: border-box;

}

.div {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

.ttl {
  padding: 10px;

  border: 1px solid #e4dfdf;
  background-color: #e4dfdf;
  text-align: center;
  border-radius: 10px;
}

table {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #333;
}

th {
  padding: 8px 20px;
  color: #e4dfdf;
  font-size: 18px;
}

td {
  padding: 10px;
  text-align: center;
}

tr:first-child {
  background-color: rgb(163, 88, 88);
  color: #f2f2f2;
  font-size: 20px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

a {
  color: #000;
  text-decoration: none;
}

.cmn-btn {
  padding: 5px 15px;
  border: 1px solid #a49f9f;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
}

.cmn-btn:hover {
  background-color: rgba(88, 81, 7, 0.5);
}

.bar {
  background-color: #e6f592;
}

.pie {
  background-color: #b5d0f3;
}

.line {
  background-color: #f08678;
}


.area {
  background-color: #f8cbf6;
}

.back {
  margin-right: 100px;
  background-color: #736c6c;
}

.warning {
  width: 30%;
  margin: 250px 450px;
  padding: 20px;
  border: 1px dashed #5e4b4b;
  background-color: #f79a1f;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}

.success {
  width: 30%;
  margin: 250px 450px;
  padding: 20px 50px;
  border: 1px dashed #5e4b4b;
  background-color: #ffe4c4;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}

form {
  width: 25%;
  margin: 0 auto;
  padding: 20px;
  border: 0.2px dotted #5e4b4b;
  background-color: #ffe4c4;
  border-radius: 5px;
}

label {
  font-weight: bold;
  font-style: italic;
}

.input {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  border: 0.1px dotted #839cbc;
  border-radius: 5px;
}

.update-btn {
  padding: 4px 8px;
  border: 1px solid #5e4b4b;
  background-color: #b2bcc9;
  border-radius: 5px;
}